.ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 65px #000000;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include respond(tab-land) {
    width: 250px;
    height: 250px;
  }
}